body{
    margin: 0;
    padding: 0;
   background: linear-gradient(135deg,#f6d365,#fda085);
   color:black;
}
.Gallery{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.heading{
font-size:1.5rem;
margin-top: 20px;
}
.images{
    display: flex;
gap: 10px;
}
img{
    border-radius: 20px;
    
}
.image{
 width: 33%;
  height: 200px;         
  padding: 5px;
  box-sizing: border-box
}
.image img{
 width: 100%;
  height: 100%;
  object-fit: cover;       
  display: block;
   transition: transform 0.4s ease-in-out;

}
@media (max-width:770px) {
    .images{
        display: grid;
        grid-template-columns: repeat(3,1fr);   
    }
    .image{   
  width:100%;
  height: 150px;         
  padding: 5px;
    }   
}
@media (max-width:430px) {
    .images{
        display: grid;
        grid-template-columns: repeat(2,1fr);   
    }
    .image{   
  width:100%;
  height: 100px;         
  padding: 5px;
    }   
}
.image img:hover{
transform: scale(1.08);
}
