body{
    margin: 0;
    padding: 0;
   background: linear-gradient(135deg,#f6d365,#fda085);
   color:black;
}
.Gallery{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.heading{
font-size:1.5rem;
margin-top: 20px;
}
.images{
    display: flex;
gap: 10px;
}
img{
    border-radius: 20px;
    
}
.image{
 width: 33%;
  height: 200px;         
  padding: 5px;
  box-sizing: border-box
}
.image img{
 width: 100%;
  height: 100%;
  object-fit: cover;       
  display: block;
   transition: transform 0.4s ease-in-out;

}
.image img:hover{
transform: scale(1.08);
}
.image img:active{
      transform: scale(1.5);
    z-index: 10;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
}
.fullimageshow{
 display:none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height:   100%;
  inset: 0;
  background-color: rgba(0, 0, 0,.9);
  text-align: center;
}
#FullImage{
width: 100%;
height: 100%;
object-fit: contain;
}
#next{
   position:absolute;
   top:50%;
  right:10px;
    font-size: 30px;
    margin-right:10px;
     background-color:rgba(0, 0, 0,.9) ;
    color: aliceblue;
    border: 2px solid white;
     border-radius: 15px;
         transition: all 0.24s ease-in;
}
#prev{
   position:absolute;
   top:50%;
  left:10px;
    font-size: 30px;
    margin-left:10px;
   background-color:rgba(0, 0, 0,.9) ;
    color: aliceblue;
     border: 2px solid white;
    border-radius: 15px;
    transition: all 0.24s ease-in;
}
#next:hover{
     background-color: white;
    color: black;
}
#prev:hover{
       background-color: white;
        color: black;
}
#close{
       position:absolute;
   top:1%;
  right: 75px;
  height: 50px;
  width: 50px;
    font-size: 40px;
    margin-right:15px;
   background-color:rgba(0, 0, 0,.9) ;
    color: aliceblue;
    border: 1px solid white;
     border-radius: 10px;
         transition: all 0.24s ease-in;
}
#close:hover{
          background-color: white;
        color: black;
        transform: scale(1.2s);
}/* Responsiveness*/
@media (max-width:770px) {
    .images{
        display: grid;
        grid-template-columns: repeat(3,1fr);   
    }
    .image{   
  width:100%;
  height: 150px;         
  padding: 5px;
    }   
#next{
    height: fit-content;
    width:fit-content;
    top:500px;
          right: 10px;
          margin-right: 15px;
}
#prev{
    height: fit-content;
    width:fit-content;
    top:500px;
    left: 10px;
     margin-left: 15px;}
    #close{
          top:1%;
          left: 10px;
          margin-left: 15px;
    }
}
@media (max-width:430px) {
    .images{
        display: grid;
        grid-template-columns: repeat(2,1fr);   
    }
    .image{   
  width:100%;
  height: 100px;         
  padding: 5px;
    }   

#next{
    height: fit-content;
    width:fit-content;
    top:500px;
          right: 10px;
          margin-right: 15px;
}
#prev{
    height: fit-content;
    width:fit-content;
    top:500px;
    left: 10px;
     margin-left: 15px;}

    #close{
          top:1%;
          left: 10px;
          margin-left: 15px;}
}
#close:active{
    background-color: red;
    color:white ;
}
#next:active{
     background-color: #ff6600;
    color:white ;
    transform: scale(0.95);
}
#prev:active{
     background-color: #ff6600;
    color:white ;
       transform: scale(0.95);
}